*.dylib filter=lfs diff=lfs merge=lfs -text
train/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
train/Library/Artifacts/54/54482c035aa5333a362cd101bbe5c20e filter=lfs diff=lfs merge=lfs -text
